<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="#">Daft Punk</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                </div>
            </div>
        </header>
        <div class="nav-scroller py-1 mb-2 justify-content-between align-items-center">
            <div class="nav d-flex justify-content-center">
                <a class="p-2" href="/">Home</a>
                <a class="p-2" href="/gallery">Gallery</a>

            </div>
        </div>

        <div class="introText">
            <p>
                Daft Punk es un dúo de productores formado por los músicos franceses Guy-Manuel de Homem-Christo (n. 1974) y Thomas Bangalter
                (n. 1975).4​5​6​ Daft Punk alcanzó una gran popularidad en el estilo house a finales de la década de los
                90 en Francia y continuó con su éxito los años siguientes, usando el estilo synthpop.4​5​7​ El dúo también
                es acreditado por la producción de canciones que se consideran esenciales en el estilo french house. El acrónimo
                "Daft", presente en su primer DVD, proviene de las iniciales de "A Story about Dogs, Androids, Firemen and
                Tomatoes". Estas palabras reciben significado al dúo musical por su primera canción «Da Funk» del año 1995
                perteneciente al álbum Homework, dónde aparece un perro antropomorfo como protagonista en el vídeo. Luego
                "Androids" por la aparición de robots bailando en el vídeo «Around the World» del año 1997 del álbum Homework.
                "Fireman" (Bomberos en español) que aparecen en el video de «Burnin'» y "Tomatoes" por el vídeo «Revolution
                909». A principios de la carrera del grupo, los miembros de la banda estaban influidos por bandas como The
                Beach Boys y The Rolling Stones. Bangalter y de Homem-Christo se encontraban originalmente en una banda llamada
                Darlin', que se disolvió después de un corto periodo de tiempo, permitiendo a los dos experimentar con música
                por su cuenta. El dúo se convirtió en Daft Punk, y lanzaron su aclamado álbum debut Homework en 1997. El
                segundo álbum, Discovery, lanzado en 2001, fue aún más exitoso, impulsado por los sencillos «One More Time»,
                «Digital Love» y «Harder, Better, Faster, Stronger». En marzo de 2005, el dúo lanzó el álbum Human After
                All, recibiendo críticas mixtas. Sin embargo, «Robot Rock» y «Technologic» tuvieron éxito en el Reino Unido.
                Daft Punk hizo una gira a lo largo de 2006 y 2007 y lanzó su álbum en vivo Alive 2007, el cual ganó un Grammy
                al Mejor Álbum de Electrónica/Dance. El dúo compuso la música para la película Tron: Legacy y en 2010 lanzó
                el álbum de la banda sonora de la película. Daft Punk es conocido por sus elaborados conciertos en los que
                incorporan efectos visuales, por el énfasis que ponen en la historia y los componentes visuales de sus producciones
                musicales. También porque desde 2001 en sus actuaciones o apariciones públicas aparecen disfrazados de robot.
                En muy raras ocasiones conceden entrevistas o aparecen en televisión. El dúo ha vendido más de 12 millones
                de álbumes, 8​ y más de 17 millones de sencillos.
            </p>
        </div>
        <div>
                <img src="/daft4.jpg" class="img-rounded img-responsive center-block daft4">
              </div>
    </div>
</body>

</html>