<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <div class="container">
                <header class="blog-header py-3">
                  <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4 pt-1">
                    </div>
                    <div class="col-4 text-center">
                      <a class="blog-header-logo text-dark" href="#">Daft Punk</a>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                    </div>
                  </div>
                </header>
                <div class="nav-scroller py-1 mb-2 justify-content-between align-items-center">
                        <div class="nav d-flex justify-content-center">
                          <a class="p-2" href="/">Home</a>
                          <a class="p-2" href="/about">About</a>
                        </div>
                      </div>

            <div>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                              <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                          
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="/daft2.jpg" alt="daft-punk">
                                <div class="carousel-caption">
                                  <h3>Party hard!</h3>
                                </div>
                              </div>
                          
                              <div class="item">
                                <img src="/daft3.jpg" alt="daft-3">
                                <div class="carousel-caption">
                                  <h3>More party</h3>
                                </div>
                              </div>
                          
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                  </div>
    </div>
</body>
</html>